.leaveDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
  background-color: rgba(156, 136, 255, 0.7) !important;
}

.leaveDayApproved:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
  background-color: rgba(136, 255, 186, 0.7) !important;
}

.meetingDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
  background-color: rgba(74, 153, 255, 0.7) !important;
}

.courseDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
  background-color: rgba(255, 147, 228, 0.7) !important;
}

.responsive-calendar {
  /* by setting font-size, all the elements will correspond */
  font-size: 11px !important;
  /* default to 10px */
}

@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 10px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 7px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 6px !important;
  }
}

/* Large screens */

@media (min-width: 1920px) {
  .responsive-calendar {
    font-size: 12px !important;
  }
}