.Login {
  background-color: rgba(255, 255, 255, 0.99) !important;
  border-color: rgba(0, 0, 0, 0.466);
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 100px 10px rgba(128, 128, 128, 0.315) inset;
  border-radius: 25px;
  padding: 5% 5% 5% 5%;

  color: black;
  font-family: 'Montserrat';
  font-family: 'Poppins', sans-serif;
}
.Login h4 {
  margin-bottom: 20px;
}

.App-header {
  background-image: url('../assets/loginBG.jpeg');
  background-size: cover;
  /* background-color: aqua; */
  text-align: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.popup-box {
  font-size: medium;
}
