:root {
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --nav_bar: #CFD6E1;
  /*--background: rgba(137, 171, 245, 0.37);*/
  --background: #e5edf9;
}

*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}
