#contentt{
  
    left: 850px;
    padding-top: 40px;
    padding-left: 0px;
    position: absolute;
    top:180px;
    display: inline-block;
    color:black;
    font-size: larger;
    font-family:'Montserrat';
  
}

h2.title{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: black;
    display: inline;
    text-align: left;
    position: absolute;
}  

#box1 {
    border-radius: 10px 10px 10px 10px;
    background:white;
    margin-top:23px;
    border-radius: 30px;
    color:black;
    height:1200px;
    width:1600px;
    } 
#box p{
padding-left: 0px;
}

#box2 {
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.726);
    border-inline-start-width: 0px;
    margin-top:90px;
    color:black;
    display: inline-block;
    height:850px;
    width:900px;
    border: 1.5px solid rgb(148, 139, 139);
    
    } 
#box1 p{
    padding-left: 20px;}

#selectbox {
    margin-top:35px;
    left: 860px;
    position: absolute;}

#radio{
    margin-top:35px;
    left: 1250px;
    position: absolute;
    size: 150%;
}

#startdate{
    margin-top:180px;
    left: 860px;
    position: absolute;
}

#enddate{
    margin-top:180px;
    left: 1110px;
    position: absolute;
}

#daterange{
    margin-top:180px;
    left: 860px;
    position: absolute;
}

#noofdays{
    margin-top:175px;
    left: 1390px;
    position: absolute;
}

#days{
    margin-top:180px;
    left: 1470px;
    width: 70px;
    position: absolute;
}

#recommendby{
    margin-top:330px;
    left: 860px;
    position: absolute;
}

#approveby{
    margin-top:330px;
    left: 1200px;
    position: absolute;
}

#ptdbalance{
    margin-top:480px;
    left: 860px;
    position: absolute;
}

#ytdbalance{
    margin-top:480px;
    left: 1200px;
    position: absolute;
}

#remarks{
    margin-top:600px;
    left: 860px;
    position: absolute;
}

#submitbutton{
    margin-top:700px;
    left: 1530px;
    position: absolute;
}


#approvebutton{
    margin-top:100px;
    left: 50px;
    position: absolute;
}


/* calendar styling nochioce haveto style.....*/
.react-calendar{
    width: 500px !important;
    height: 400px !important;
    border-radius: 30px;
}
.react-calendar__viewContainer{
    height: 350px !important;
}
.react-calendar button{
    padding-top:17px!important;
    padding-bottom:17px!important;
}

.react-calendar__navigation__next-button{
padding-top:1px!important;
}

.highlight {
    color:black !important;
    background: lightcyan !important;
 }  

 .react-calendar__tile--active{
     color:black !important;
 }

 .react-calendar__tile--active{
     background: white !important;
 }