#contentt{
  
    padding-right: 550px;

    /* position: absolute; */
    top:140px;
    bottom:0px;
    display: inline-block;
    color:black;
    font-size: larger;
    font-family:'Montserrat';
  
}

h2.title{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: black;
    display: inline;
    text-align: left;
    position: absolute;
}  

#box1 {
    border-radius: 10px 10px 10px 10px;
    background:white;
    margin-top:23px;
    border-radius: 30px;
    color:black;
    width:1600px;
    } 
#box p{
padding-left: 0px;
}

#box2 {
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.726);
    border-inline-start-width: 0px;
    margin-top:30px;
    color:black;
    display: inline-block;
    height:850px;
    width:900px;
    border: 1.5px solid rgb(148, 139, 139);
    
    } 
#box1 p{
    padding-left: 20px;}

#selectbox {
   padding-top:30px;
   padding-left:45px;
    float:left;
    display: inline;
    /* position: absolute; */
}

#radio{
    padding-top:30px;
    padding-right:200px;
    float: right;
    display: inline;
    /* position: absolute; */

}

/* #startdate{
    padding-top:120px;
    padding-left:50px;
     float:left;
     display: inline;
}

#enddate{
    padding-top:120px;
    padding-left:50px;
     float:left;
     display: inline;
} */

#daterange{
    padding-top:20px;
    padding-right:65px;
    padding-left:45px;
    float: left;
    display: inline;

}

#noofdays{
    padding-top:20px;
    padding-right:105px;
    padding-left:45px;
    float: right;
    display: inline;
  
  
}

/* #days{
    margin-top:180px;
    left: 1470px;
    width: 70px;
    position: absolute;
} */

#recommendby{
    padding-top:30px;
    padding-right:65px;
    padding-left:45px;
    float: left;
    display: inline;

}

#approveby{
    padding-top:22px;
    padding-right:150px;
    padding-left:45px;
    float: right;
    display: inline;

}

#ptdbalance{
    padding-top:20px;
    padding-right:65px;
    padding-left:45px;
    float: left;
    display: inline;

}

#ytdbalance{
    padding-top:20px;
    padding-right:150px;
    padding-left:45px;
    float: right;
    display: inline;


}

#remarks{
    padding-top:20px;
    padding-right:65px;
    padding-left:45px;
    float: left;
    display: inline;

}

#submitbutton{
margin-top:600px;

    

  
}


#approvebutton{
    margin-top:100px;
    left: 50px;
    position: absolute;
}


/* calendar styling nochioce haveto style.....*/
.react-calendar{
    width: 500px !important;
    height: 400px !important;
    border-radius: 30px;
}
.react-calendar__viewContainer{
    height: 350px !important;
}
.react-calendar button{
    padding-top:17px!important;
    padding-bottom:17px!important;
}

.react-calendar__navigation__next-button{
padding-top:1px!important;
}




.highlight {
    color:black !important;
    background: rgba(156, 136, 255, 0.7) !important;
 }  
/* meetinng */
 .highlight1 {
  color:black !important;
  background: rgba(74, 153, 255, 0.7) !important;
}  
/* course */
.highlight2 {
  color:black !important;
  background: rgba(255, 147, 228, 0.7) !important;
}  
.highlight3 {
  color:black !important;
  background: rgba(136, 255, 186, 0.7) !important;
}





 .react-calendar__tile--active{
     color:black !important;
 }

 .react-calendar__tile--active{
     background: rgb(241, 255, 115) !important;
 }

 .react-calendar__tile--now {
    text-decoration: underline !important;
    font-weight: bold !important;
}

  /*Responsiveness*/
@media only screen and (max-width: 1760px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-left:20px;
      color: black;
      display: inline-block;
      width: 1500px;
      position: relative;
      font-Size:18px;
     
    }
 
  }
  @media only screen and (max-width: 1660px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-left:20px;
      color: black;
      display: inline-block;
      width: 1400px;
      position: relative;
      font-Size:18px;
     
    }
  }
  @media only screen and (max-width: 1564px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-left:20px;
      color: black;
      display: inline-block;
      width: 1300px;
      position: relative;
      font-Size:18px;
     
    }
  }
  @media only screen and (max-width: 1463px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-left:20px;
      color: black;
      display: inline-block;
      width: 1250px;
      position: relative;
      font-Size:18px;
     
    }
  }
  @media only screen and (max-width: 1360px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-left:20px;
      color: black;
      display: inline-block;
      width: 1250px;
      position: relative;
      margin-left:80px;
      font-Size:18px;
     
    }
  }
  @media only screen and (max-width: 1285px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-left:20px;
      color: black;
      display: inline-block;
      width: 1200px;
      position: relative;
      margin-left:80px;
      font-Size:18px;
     
    }
  }
  @media only screen and (max-width: 1242px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-left:40px;
      color: black;
      display: inline-block;
      width: 1120px;
      position: relative;
      margin-left:80px;
      margin-right:20px;
      font-Size:18px;
     
    }
  }

  @media only screen and (max-width: 1164px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-left:10px;
      color: black;
      display: inline-block;
      width: 1000px;
      position: relative;
      font-Size:18px;
     
    }
  }
  @media only screen and (max-width: 1076px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 980px;
      position: relative;
      font-Size:18px;
      margin-left:100px;
     
    }
  }
  @media only screen and (max-width: 1056px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 980px;
      position: relative;
      font-Size:18px;
      zoom:90%;
      margin-left:100px;
     
    }
  }
  @media only screen and (max-width: 968px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 980px;
      position: relative;
      font-Size:18px;
      zoom:90%;
      margin-left:150px;
     
    }
  }
  @media only screen and (max-width: 927px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 980px;
      position: relative;
      font-Size:18px;
      zoom:85%;
      margin-left:150px;
     
    }
  }
  @media only screen and (max-width: 886px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 970px;
      position: relative;
      font-Size:18px;
      zoom:85%;
      margin-left:150px;
     
    }
  }
  @media only screen and (max-width: 868px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 970px;
      position: relative;
      font-Size:18px;
      zoom:80%;
      margin-left:150px;
     
    }
  }
  @media only screen and (max-width: 835px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 970px;
      position: relative;
      font-Size:18px;
      zoom:80%;
      margin-left:200px;
     
    }
  }
  @media only screen and (max-width: 797px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 965px;
      position: relative;
      font-Size:18px;
      zoom:80%;
      margin-left:200px;
     
    }
  }
  @media only screen and (max-width: 788px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 950px;
      position: relative;
      font-Size:18px;
      zoom:80%;
      margin-left:220px;
     
    }
  }
  @media only screen and (max-width: 764px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 930px;
      position: relative;
      font-Size:18px;
      zoom:80%;
      margin-left:220px;
     
    }
  }
  @media only screen and (max-width: 748px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 930px;
      position: relative;
      font-Size:18px;
      zoom:80%;
      margin-left:240px;
     
    }
  }
  @media only screen and (max-width: 732px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 930px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:240px;
     
    }
  }
  @media only screen and (max-width: 692px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 930px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:280px;
     
    }
  }
  @media only screen and (max-width: 664px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 920px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:280px;
     
    }
  }
  @media only screen and (max-width: 652px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 900px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:280px;
     
    }
  }
  @media only screen and (max-width: 640px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 850px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:280px;
     
    }
  }
  @media only screen and (max-width: 608px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 850px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:300px;
     
    }
  }
  @media only screen and (max-width: 588px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 800px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:300px;
     
    }
  }
  @media only screen and (max-width: 552px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 800px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:320px;
     
    }
  }
  @media only screen and (max-width: 536px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 750px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:320px;
     
    }
  }
  @media only screen and (max-width: 496px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 750px;
      position: relative;
      font-Size:18px;
      zoom:75%;
      margin-left:340px;
     
    }
  }
  @media only screen and (max-width: 480px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 750px;
      position: relative;
      font-Size:18px;
      zoom:70%;
      margin-left:340px;
     
    }
  }
  @media only screen and (max-width: 460px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 750px;
      position: relative;
      font-Size:18px;
      zoom:70%;
      margin-left:360px;
     
    }
  }
  @media only screen and (max-width: 448px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 750px;
      position: relative;
      font-Size:18px;
      zoom:70%;
      margin-left:380px;
     
    }
  }
  @media only screen and (max-width: 432px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 700px;
      position: relative;
      font-Size:18px;
      zoom:70%;
      margin-left:380px;
     
    }
  }
  @media only screen and (max-width: 404px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 700px;
      position: relative;
      font-Size:18px;
      zoom:70%;
      margin-left:400px;
     
    }
  }
  @media only screen and (max-width: 388px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 700px;
      position: relative;
      font-Size:18px;
      zoom:70%;
      margin-left:420px;
     
    }
  }
  @media only screen and (max-width: 364px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 600px;
      position: relative;
      font-Size:18px;
      zoom:70%;
      margin-left:420px;
     
    }
  }
  @media only screen and (max-width: 304px) {
    #box1 {
      border-radius: 15px;
      background: white;
      margin-top: 25px;
      padding-right:20px;
      color: black;
      display: inline-block;
      width: 600px;
      position: relative;
      font-Size:18px;
      zoom:70%;
      margin-left:440px;
     
    }
  }