#content{
  
    left: 0px;
    padding-top: 30px;
    padding-left: 90px;
    position: absolute;
    top:0px;
    display: inline-block;
    color:black;
    font-size: larger;
    font-family:'Montserrat';
  
  }


#box {
  border-radius: 15px;
  background: white;
  margin-top: 25px;
  color: black;
  display: inline-block;
  height: 1400px;
  width: 1400px;
  zoom: 80%;
  position: relative;
  min-width:425;
  font-Size:18px;
}
#box p {
  padding-left: 0px;
}
