.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: absolute;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
